/* BASIC STYLE */

* {
	box-sizing: border-box;
}
body {
	color: #878787;
	margin: 0;
	font: normal 1em/1.5 "Helvetica Neue", Helvetica, Arial, san-serif;
}



h1 {
	font-size: 5.625rem;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.3;
	text-shadow: 0 1px 1px rgba(0,0,0, .8);

}

h2 {
	font-size: 3.3125em;
	text-decoration: underline;
	color: grey;
	font-weight: normal;
	line-height: 1.1;
	margin-bottom: .5em; 
}

h3 {
	font-size: 1.23em;
	color: white;
	line-height: 1.2;
	margin-bottom: 1.7em;
}

img {
	max-width: 100%;
	margin-bottom: 20px;
}
/*
li {
	display: inline-block;
	padding: 0 12px;
	border-right: solid 1px;
	margin: 80px 0;
}
*/
/* Main Styles --------------------- */
.main-header {
	padding-top: 170px;
	height: 850px;
	background: linear-gradient(gray, transparent 0%),
	            linear-gradient(33deg, #4B0082, transparent),
	purple url('../img/young-kobe.jpg') no-repeat center;
	background-size: cover;
}

.title {
	color: white;
	font-size: 1.625rem;
}

.primary-content,
.main-header,
.main-footer {
	text-align: center;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 2px solid lightgrey;
	overflow: auto;

}

.t-border {
	border-top: 2px solid lightgrey;
}

.mambaout {
	font-size: 1.25em;
	border-bottom: 3px solid;
	padding: 0 9px 3px;
	margin-top: 20px;
	display: inline-block;
}
.main-footer {
	padding-top: 60px;
	padding-top: 60px;
	border-bottom: solid 10px purple;
}
/* Pseudo-classes ------------------ */
a:link {
	color: rgb(255, 215, 0);
	text-decoration: none;
	
}

a:visted {
	color: lightblue;
}

a:hover {
	color: purple;
}

/* Layout Styles ------------------ */
.primary-content,
.secondary-content {
	width: 75%;
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	max-width: 900px;
}

.mamba {
	color: #fff;
	text-align: left;
	padding: 18% 24%;
	border-top: 10px solid purple;
	margin: 105px 0 60px;
	background: linear-gradient(#000, transparent 100%),
              linear-gradient(10deg, #434a52, transparent),
	#434a52  url('../img/finals.png') no-repeat center;
	            
	background-size: cover;
	box-sizing: border-box; 
	box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, .8);    

	border-radius: 50px 10px;   


}

.arrow {
	width: 50px;
}

/* Floated Columns ------------------ 

 
.black {
	width: 46.5%;
}

.black {
	float:;
}

/* Float Clearfix -------------------- */

.group: after {
	content: "";
	display: table;
	clear: both;
}

/* Media Queries -------------------- */

@media (max-width: 1024px) {
	.primary-content,
	.secondary-content {
		width: 90%;
	}
	.mambaout {
		padding: 10% 12%;
		margin: 50px 0 20px;
	}

}

@media (max-width: 768px) {
  .primary-content,
	.secondary-content {
		width: 100%;
		padding: 20px;
		border-top: none;
	}
	.main-header {
		max-height: 380px;
		padding: 50px 25px 0;
	}

	.title {
		font-size: 1.3rem;
		border: none;
	}

	h1 {
		font-size: 5rem;
		line-height: 1.1;
	}

	.arrow {
		display: none;
	}

	.intro {
		font-size: 1rem;
	}
	.black {
		float: none;
		width: 50%;
	}
	.main-footer {
		padding: 20px 0;
	}
}



